*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;

}

.master{
 background-image: linear-gradient(to right, rgba(39, 245, 235, 0.0), rgba(39, 245, 235, 0.8)),url(../images/hand-touching.png);
 background-size: cover,cover;
 background-position: center,center;
 background-repeat: no-repeat;
 width: 100%;
 height: 500px;
}
.con1{
    display: inline-block;
    margin-top: 70px;
    margin-left: 1110px;
    color: white;
}
.con1 h1{
  width: 300px;
  font-size: 50px;
}
.con1 p{
    width: 500px;
    font-size: 25px;
}