*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 0;
}
.master{
    display: grid;
    background-image: url("../images/person-working.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    
}
nav{
    display: flex;
       justify-content: space-between;
    background-color: white;
    color:black;
    padding: 15px 40px;
    width: 1286px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 35px;
}
.nav li{
    display: inline;
    gap: 30px;
}
nav ul{
    margin-right: 1%;
    display: flex;
    gap: 50px;
    list-style: none;
    
   
    padding-top: 20px;
    
}
.button{
    background-color: aquamarine;
    padding: 2px;
    border: 0;
    width: 70PX;
}
.btn{
    background-color: transparent;
    padding: 3px;
    width: 70px;
    border: ;
}


.logo img{
    width: 90px;
    margin-top: 10PX;
}
.content{
    position: absolute;
    right: 280px;
    top: 230px;
    width: 520px;
    color: white;
}
.content h1{
    font-size: 60px;
    color: aquamarine;
}

.content p{
    margin-top: 15px;
    /* line-height: 1.5; */
    font-size: 30px;
}
.explore{
    background-color: aquamarine;
    margin-top: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    border: 0;
}
.learn{
    background-color: transparent;
    margin-left: 30px;
     padding: 10px;
    width: 100px;
    border:2PX solid aquamarine;
     border-radius: 15px;

}


.master2{
    
}

.section1{
    margin-top: 30px;
    
}
.section1 h1{
    margin-left: 45%;
    
}
.section1 p{
    margin-left: 35%;
    width: 600px;
    font-size: 20px;
    display: block;
    text-align: center;
}
.content1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1500px;
    margin-left: 18%;
}

.box{
    padding: 20px;
    
}
.content1 h1{
    color: #1CB3A1;
    font-size: px;
     display: block;
      width: 200px;
}
.content1 p{
    margin-top: 30px;
    width: 320px;
}
.box{
  border-left: 2px solid #2bb8b3;
  padding-left: 20px;
  position: relative;
}
.bar{
  position: absolute;
  left: -4px;
  top: 20px;
  width: 6px;
  height: 30px;
  background: #2bb8b3;
}
.buttons{
    margin-left: 900px;
    margin-top: 30px;
    gap: 40px;
}
.explore1{
    background-color: aquamarine;
    margin-top: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    border: 0;
}
.learn1{
    background-color: transparent;
    margin-left: 30px;
     padding: 10px;
    width: 100px;
    border:2PX solid black;
     border-radius: 15px;

}



.master3{
    margin-top: 30px;
     display: grid;
 background-image: linear-gradient(to right, rgba(6, 250, 233,1),rgba(0, 0, 0, 0)),
                  url("../images/teamworking-engineers.png");
                  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.person {
    margin-top: 100px;
    margin-left: 150px;
}
.person h1{
    width: 500px;
    font-size: 50px;

}
.person p{
    margin-top: 60px;
    width: 500px;
    font-size: 25px;
}
.buttons1{
    margin-left: 1px;
    margin-top: 40px;
}
.explore2{
    background-color:white;
    margin-top: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    border: 0;
}
.learn2{
    background-color: transparent;
    margin-left: 30px;
     padding: 10px;
    width: 100px;
    border:2PX solid black;
     border-radius: 15px;

    }



    .master4{
        margin-top: 30px;
    }
.pyscho{
    margin-left: 36%;
  width: 650px;
    font-size: 30px;
    display: block;
    text-align: center;
}
.pyscho2{
  margin-left: 36%;
  width: 650px;
    font-size: 20px;
    display: block;
    text-align: center;
}
.pyscho3{
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1800px;
    margin-left: 8%;
}
.jar img{
    margin-left: 85px;
    margin-top: 30px;
}
.jar h2{
    width: 50px;
    font-size: 30px;
    margin-top: 30px;
     margin-left: 46px;
}
.jar p{
    width: 300px;
    margin-top: 20px;
}



.master5{
    
    margin-top: 30px;
     display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    width: 50%;
    margin-left: 190px;
    margin-bottom: 200px;
}

.right{
    width: 50%;
}

.right img{
    width: 80%;
}
.left h1{
    width: 700px;
    font-size: 70px;
    margin-left: 20px;
}
.left p{
    width: 550px;
    font-size: 20px;
    margin: 30px;
    
}
.explore3{
    background-color:aquamarine;
    margin-top: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    border: 0;
}
.learn3{
    background-color: transparent;
    margin-left: 30px;
     padding: 10px;
    width: 100px;
    border:2PX solid black;
     border-radius: 15px;

}
.buttons2{
    margin-left: 30px;
}

.master5{
    width: 100%;
}
.sec1{
    width: 900px;
    margin-left: 500px;

}
.sec1 h1{
 margin-left: 360px;
}
.sec1 hr{
    margin-top: 30px;
    border: 1px solid #000000;

}
.imgh{
    margin-left: 400px;
}

.master6{
    margin-top: 30px;
    background: linear-gradient(to right, #5FEBE2, #E8EBF200);
    display: flex;
     
    align-items: center;
    justify-content: space-between;
    padding: 100px;

}


.faq{
    display: flex;
     
    align-items: left;
    justify-content: space-between;
    padding: 30px;
     border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px;
    font-size: px;
    padding-right: 0px;
    
}
.ima{
    padding-left: 150px;
}
.faq img{
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
}
.leftt{
    
}


.master7{
    margin-top: 30px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image:linear-gradient(to right, rgba(39, 245, 235, 0.0), rgba(39, 245, 235, 0.8)),url(../images/hand-touching.png);
    background-size: cover,cover;
    background-repeat: no-repeat, no-repeat;
}
.con{
   
    color: white;
   padding-right: 210px;
    margin-bottom: 70px;
}

.con h1{
 width: 300px;
 font-size: 50px;
}
.con p{
width: 500px;
font-size: 25px;
}


.master8{
    display: flex;
     
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.link ul {
    margin-left: 0px; 
    margin-top: 30px;
    list-style: none;
    margin-left: 30px;
    

}
.link h1{
    color: #5FEBE2;
  
     border-left: 5px solid black;
  padding-left: 20px;
  position: relative;
}
.crystal img{
    width: 500px;
}
.insta{
    margin-top: 30px;
    margin-left: 30px;
}
.hr{
    width: 90%;
    margin-left: 5%;
}
.foott ul{
    margin-top: 30px;
     margin-left: 600px;
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 0;

}
.link3{
    margin-top: 60px;
}

     
   



